.container {
    width: 50vw;
    max-width: 100%;
    margin: 0 auto;
}

.accord-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.accord-meme {
    width: 100%;
}

/*комбинатор смежных элементов находящихся в одном контейнере; находит второй, есди ему предшествует первый*/
.input-meme:checked ~ .article-meme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-meme {
    display: none;
}



.label-meme {
    display: block;
    width: 100%;
    border-bottom: 0.1em solid #000000;
    cursor: pointer;
}

.article-meme {
    display: none;
}

.meme {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    border: 0.1em solid #000000;
    margin: 2vh 0 2vh 0;
}